<div class = "container">
        <% if @album.empty? %>
        <div class = "well">
            <div class = "row text-center">
            No Results Found
            </div>
            <div class = "row text-center">
         
            <%= link_to change_album_path(current_user.id), class: 'clr-white-no text-center btn' do %>
                Retry Search
             <% end %>
             
        
            </div>
        </div>
        <%else%>
        <div class = "well selectors-well text-center">
            <h2 class = "clr-white-no">Choose an album for your Profile</h2>
            <div class = "new-btn">
            <%= link_to change_album_path(current_user.id), class: 'clr-white-no text-center btn' do %>
                Retry Search
             <% end %>
             </div>
            <% @album.each do |alb| %>
                
                <div class = "well sel-alb-well">
                    <%= link_to albumcreate_path(songid: alb.id), method: :post do %>
                    <%= image_tag(alb.images.first["url"] , class: 'album-image') %>
                    <%end%>
                    </br>
                    <div class = "album-name">
                    <%= alb.name%> 
                    - (<%= alb.release_date[0..3] %>)
                    </div>
                    </br>
                    <div class = "artist-name">
                    <%= alb.artists.first.name %>
                    </div>
                </div>
                 
            <%end%>
            </div>
        <%end%>
</div>