<div class="container">
  <div class = "prof-well well animated slideInDown" id= "color-change">
    <div class="row" id= "color-change">
      <div class = "col-md-8 col-md-offset-2">
        <div class="text-center alb-bg">
          <%= image_tag @user.profile.imageurl , class: 'album-image-profile animated fadeIn delay-1s', id: "my-img" , crossorigin: "anonymous"%>
        </div>
      </div>
    </div>
  </div>
  <div class = "well details-well">
    <h1 class = "album-h1 text-center alb-flag"><%= @user.profile.album %></h1>
    <h1 class = "album-artist text-center alb-flag"><%= @user.profile.artist %></h1>
    <h1 class = "album-year text-center alb-flag"><%= @user.profile.year %></h1>
  <div class = "row show-row">
    <div class = "col-md-8 col-md-offset-2 des-bg">
    <div class="text-center ">
      <div class="well">
        <h3>Why this album is great</h3>
        <%= @user.profile.comments %>
      </div>
        <div class="well ">
          <h3>Best Songs</h3>
          1. <%= @user.profile.firstsong %> </br>
        2. <%= @user.profile.secondsong %> </br>
        3. <%= @user.profile.thirdsong %>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>