
<div class="container">
  <div class = "prof-well well animated slideInDown" id= "color-change">
    <div class="row" id= "color-change">
      <div class = "col-md-8 col-md-offset-2">
        <div class="text-center alb-bg">
          <%= image_tag @user.profile.imageurl , class: 'album-image-profile animated fadeIn delay-1s', id: "my-img" , crossorigin: "anonymous"%>
        </div>
      </div>
    </div>
  </div>
  <div class = "well details-well">
    <h1 class = "album-h1 text-center alb-flag"><%= @user.profile.album %></h1>
    <h1 class = "album-artist text-center alb-flag"><%= @user.profile.artist %></h1>
    <h1 class = "album-year text-center alb-flag"><%= @user.profile.year %></h1>
  <div class = "row show-row">
    <div class = "col-md-8 col-md-offset-2 des-bg">
    <div class = "alb-info">
      <div class = "row color-flag">
        <div class = "col-md-12">
        <h3 class = "text-center">Why this album is great</h3>
        
        </div>
      </div>
      <div class = "row">
          <div class = "col-md-12 comment-div">
            <%= @user.profile.comments %>
            </div>
        </div>
      <div class = "row">
        <div class = "col-md-12 color-flag text-center">
          <h3>Best Songs</h3>
          </div>
          </div>
        <div class = "row">
          <div class = "col-md-12 song-style song-brd-one">
             <i class="fa fa-music"></i> 1. <%= @user.profile.firstsong %> </br>
              </div>
              <div class = "col-md-12 song-style song-brd">
           <i class="fa fa-music"></i> 2. <%= @user.profile.secondsong %> </br>
            
            </div>
          </div>
        <div class = "row">
          <div class = "col-md-12 song-style song-brd">
           <i class="fa fa-music"></i> 3. <%= @user.profile.thirdsong %>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class = "row spot-row">
    <div class = "col-md-8 col-md-offset-2 text-center">
      <a href = <%=@user.profile.url %> , class = "spotify-flag"><i class="fa fa-spotify social-icon"></i></a>
      <%= link_to user_profiles_likes_path(user_id: @user.profile.user_id), class: 'spotify-flag',method: :post do %>
        <i class="fa fa-thumbs-up social-icon"></i>
      <% end %>
      
    </div>
    </div>
    </div>
    <div class = "container">
    <div class = "row">
      <div class = "col-md-11 show-username">
        <div class = "username-color-change">
           Likes: <%= @user.profile.likes.count %> </br>
        Submitted by: <%= @user.username %>
      </div>
    </div>
    </div>
</div>