<div class = "container">
    <div class = "well text-center">
        <% if @album.empty? %>
            <%= "No Results Found" %>
        <%else%>
            <% @album.each do |alb| %>
            
                <div class = "well">
                    <%= link_to user_selectors_path(songid: alb.id), method: :post do %>
                    <%= image_tag(alb.images.first["url"] , class: 'album-image') %>
                    <%end%>
                    </br>
                    <div class = "album-name">
                    <%= alb.name%> 
                    - (<%= alb.release_date[0..3] %>)
                    </div>
                    </br>
                    <div class = "artist-name">
                    <%= alb.artists.first.name %>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>
    
</div>